.send-button {
    background-color: #185c97;
    min-height: 50px;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px #a0aec0;
    font-family: Roboto, serif;
    font-size: medium;
    color: aliceblue;
    font-style: oblique;
    cursor: pointer;
    padding: 10px;
}

.centered {
    position: absolute;
    top: 50vh;
    left: 50vw;
}

.emoji {
    margin-right: 5px;
}

body {
    background-color: aliceblue;
}

.success-message {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #a0aec0;
    color: #185c97;
}

.error-message {
    background-color: lightsalmon;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #a0aec0;
    color: #185c97;
    position: absolute;
    top: 60vh;
    left: 47vw;
    margin-top: 20px;
}
